.nells-logo{
    display: block;
    margin: 20px auto 0 ;
    width: 200px;
}

.navbar {
    display: flex;
    background-color: aliceblue;
    border: 3px #563939 solid;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: #563939;
    font-size: 32px;
    padding: 0.5rem 1rem;
    width: 95%;
}

.page-content {
    background-image: url("./assets/blurredbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 80px);
}

.menu-items{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: start;
    justify-content: space-between;
    border: 2px dotted;
    color:green;
   
}

.menu-page h1, h2{
text-align: center;
}